In [2]:
# Put these at the top of every notebook, to get automatic reloading and inline plotting
from IPython.core.display import display, HTML
import pandas as pd
%reload_ext autoreload
%autoreload 1
%matplotlib inline

import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('max_colwidth',100)    

display(HTML("<style>.container { width:95% !important; }</style>"))

import sys
import json
import matplotlib.pyplot as plt
import seaborn as sns
import re
import json
from itertools import combinations, takewhile
import collections
import pandas as pd
import numpy as np
import os

sns.set()

from Utils.UtilsViz import *
from Utils.UtilsGeoViz import *

In [3]:
os.getcwd()

'D:\\Dev\\Sources\\Projects\\GitProjects\\BigDataEngg\\final_project'

In [4]:
fpath = os.path.join(os.getcwd(), "all_uni_data.csv")

In [8]:
# all_uni_data = pd.read_json(fpath, lines=True)
all_uni_data = pd.read_csv(fpath, nrows=100, index_col="Unnamed: 0")

In [9]:
all_uni_data.head()

   coordinates           created_at                        entities_hashtags  favorite_count  favorited              id_str  in_reply_to_status_id_str  in_reply_to_user_id_str place_country place_country_code place_name place_type  retweet_count  retweeted  retweeted_status_user_id_str retweeted_status_user_name                                                                                                 text  user_favorites_count  user_followers_count  user_friends_count         user_id_str          user_name  user_statuses_count
0          NaN  2017-06-22 23:16:53                                       []               0      False  878029049469190144                        NaN                      NaN           NaN                NaN        NaN        NaN              0      False                  3.366467e+08             John McGonigal  RT @jmcgonigal9: Penn State student section tickets sold out in 89 minutes\r\n\r\nhttps://t.co/K...                   132                     3                  44  774045894652166144    David Kononchuk                  130
1          NaN  2017-06-22 23:17:13  [{'indices': [112, 115], 'text': 'Wx'}]               0      False  878029136089894912                        NaN                      NaN           NaN                NaN        NaN        NaN              0      False                           NaN                        NaN  ...A SIGNIFICANT WEATHER ADVISORY HAS BEEN ISSUED UNTIL 630 PM CDT FOR... Northwestern Marshall ...                     0                   602                 607           888181566  AmericaAlerts App                85724
2          NaN  2017-06-22 23:17:47                                       []               0      False  878029276557131776                        NaN                      NaN           NaN                NaN        NaN        NaN              0      False                           NaN                        NaN  Inspired by this innovative wave 4 forming whole students that @CSUDH is riding &amp; stoking w/...                   693                   875                1221          2363593488            Giacomo                 3086
3          NaN  2017-06-22 23:17:53                                       []               0      False  878029303304208384                        NaN                      NaN           NaN                NaN        NaN        NaN              0      False                  7.091099e+17               David Eccles  RT @gringene_bio: @Big3BioSF @OmicsOmicsBlog @Stanford @PacBio If you're making DNA look like it...                  5796                  1047                1054           120418926       Samuel Lampa                 9391
4          NaN  2017-06-22 23:17:56                                       []               0      False  878029314289147904               8.780287e+17             1.244408e+09           NaN                NaN        NaN        NaN              0      False                           NaN                        NaN                                        @SheWhoVotes He went to Northwestern Law School? ðŸ˜‚ jk ðŸ—¿                  1189                    85                 107  701190848751403008   Janna Propaganda                 3328

In [10]:
all_uni_data.shape

(100, 23)